<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
        <link rel="stylesheet" href="/static/style.css"
    </head>
    <body>
        <div class="topnav">
            <a href="/input">SpotEmotion</a>
            <a href="/about">About</a> 
            <a href="/how-it-works">How It Works</a>
        </div>
        <div class="container">
            <p>
                <a href="https://github.com/dactylic">Liam</a> and Pen wrote this.
            </p>
        </div>
    </body>
</html>