<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>How It Works</title>
        <link rel="stylesheet" href="/static/style.css"
    </head>
    <body>
        <div class="topnav">
            <a href="/input">SpotEmotion</a>
            <a href="/about">About</a> 
            <a href="/how-it-works">How It Works</a>
        </div>
        <div class="container">
            {% for para in msg %}
            <p>{{ para }}<br></p>
            {% endfor %}
        </div>
    </body>
</html>